html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html *{
  font-family: 'Roboto';
}

.section_1{
    background-color:#1F2937;
    padding-left: 300px;
    padding-right:300px;
}

.section_1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_1 .header .logo{
    color:#F9FAF8;
    font-size:24px;
}

.section_1 .header .nav ul{
font-size: 18px;
display:flex;
gap:10px;
color: #E5E7EB;
}

.section_1 .content .intro_text #main_header {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
  margin:0px;
}

.section_1 .content .intro_text #main_text{
  font-size:18px;
  color: #E5E7EB;
}

.content {
  display:flex;
  justify-content: space-between;
  max-height: 300px;
  margin-top:200px;
  padding-bottom:150px;
}

.section_1 .content .intro_text{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  max-width: 500px;
}

.section_1 .content #image_placeholder{
  height:350px;
  width:auto;
}

.section_1 .content .intro_text{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  max-width: 500px;
}

.section_1 .content .intro_text #signup{
  border-radius: 8px;
  color:white;
  background-color:#3882F6;
  max-width:100px;
  padding:5px;
  border:0px;
}

.section_2 .text {
  display:flex;
  justify-content:center;
  margin-bottom: 65px;
}

.cards{
  display:flex;
  justify-content: space-around;
  align-content: center;
  padding-right:400px;
  padding-left:400px;
  margin-bottom:200px;
}

.card{
  max-width:150px;
  text-align:center;
}
.card .image img{
  width: 150px;
  height:auto;
  text-align:center;
  border: 5px solid #3882F6;
  border-radius: 20%;
}

a:link { 
    text-decoration: none; 
  } 
  
a {
color:inherit;
}

ul{
    list-style-type:none;
    margin:0px;
    padding-inline-start:0px;
  }

.section_3{
  background-color:#E5E7EB;
  padding:40px;
}

.quote{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size:36px;
  font-style: italic;
  color:#1F2937;
  flex-wrap:wrap;
  width:700px;
  margin: 0 auto;
}

.quote_author{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size:24px;
  color:#1F2937;
  flex-wrap:wrap;
  margin: 0 auto;
  margin-left:450px;
}

.section_4{
  background-color: white;
  padding:50px;
}
.container{
  padding:40px;
  display:flex;
  align-items: flex-end;
  justify-content:center;
  gap:200px;
  background-color: #3882F6;
  margin: 0 auto;
  width:1000px;
  border-radius:5px;
  color:white;
}

.container .button #second_signup{
  border-radius: 8px;
  color:white;
  background-color:#3882F6;
  max-width:100px;
  padding:5px;
  border:5px;
  border-color:white;
  border: 2px solid white;
  width:100px;
  margin-bottom: 16px;
}

.footer{
  display:flex;
  background-color:#1F2937;
  justify-content: center;
  align-items: center;
  padding:15px;
  color:white;
}